/* line 1, sass/_heading.scss */
.ttt-heading {
  background-image: url(../src/TTT-heading.PNG);
  height: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto; }
  @media only screen and (max-width: 768px) {
    /* line 1, sass/_heading.scss */
    .ttt-heading {
      display: none; } }
  /* line 15, sass/_heading.scss */
  .ttt-heading-mobile {
    background-image: url(../src/heading-mobile.PNG);
    height: 130px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    display: none; }
    @media only screen and (max-width: 600px) {
      /* line 15, sass/_heading.scss */
      .ttt-heading-mobile {
        display: block;
        width: 95vw; } }
  /* line 30, sass/_heading.scss */
  .ttt-heading-desktop {
    background-image: url(../src/heading-desktop.PNG);
    height: 90px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: none; }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      /* line 30, sass/_heading.scss */
      .ttt-heading-desktop {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
        margin-left: -8px;
        z-index: 100; } }

/* line 12, sass/_base.scss */
* {
  padding: 0;
  box-sizing: border-box; }

/* line 18, sass/_base.scss */
.container {
  margin-right: 50px; }

/* line 1, sass/_villa.scss */
.villa {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 50vw;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    /* line 1, sass/_villa.scss */
    .villa {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* line 1, sass/_villa.scss */
    .villa {
      display: flex;
      flex-direction: column-reverse; } }
  /* line 32, sass/_villa.scss */
  .villa__left .villa__specs {
    height: 250px;
    margin-left: 20px; }
    @media only screen and (max-width: 600px) {
      /* line 32, sass/_villa.scss */
      .villa__left .villa__specs {
        margin-left: 0; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      /* line 32, sass/_villa.scss */
      .villa__left .villa__specs {
        width: 600px;
        margin: 0 50px; } }
    /* line 49, sass/_villa.scss */
    .villa__left .villa__specs-name {
      color: #001871;
      font-family: 'Montserrat';
      font-size: 24px; }
    /* line 55, sass/_villa.scss */
    .villa__left .villa__specs-region {
      color: #21c1ff;
      font-family: 'Montserrat';
      font-size: 16px;
      text-transform: uppercase; }
    /* line 62, sass/_villa.scss */
    .villa__left .villa__specs-location {
      color: #8c8c8c;
      font-family: 'Montserrat';
      font-size: 16px; }
    /* line 69, sass/_villa.scss */
    .villa__left .villa__specs-facilities {
      list-style: none;
      margin: 6px 0 0;
      font-family: 'Montserrat'; }
      /* line 76, sass/_villa.scss */
      .villa__left .villa__specs-facilities li {
        display: inline;
        color: #8c8c8c; }
        @media only screen and (min-width: 601px) and (max-width: 768px) {
          /* line 76, sass/_villa.scss */
          .villa__left .villa__specs-facilities li {
            margin-right: 50px; } }
        @media only screen and (max-width: 600px) {
          /* line 76, sass/_villa.scss */
          .villa__left .villa__specs-facilities li {
            margin-right: 0;
            display: block; } }
        /* line 91, sass/_villa.scss */
        .villa__left .villa__specs-facilities li p {
          display: inline;
          color: #001871; }
      /* line 98, sass/_villa.scss */
      .villa__left .villa__specs-facilities-icons {
        display: inline-block;
        text-align: center;
        background-position: 50% 20%;
        background-size: 25px auto;
        background-repeat: no-repeat;
        width: 26px;
        height: 17px; }
        /* line 108, sass/_villa.scss */
        .villa__left .villa__specs-facilities-icons.guests {
          background-image: url(../../src/guests.svg); }
        /* line 113, sass/_villa.scss */
        .villa__left .villa__specs-facilities-icons.beds {
          background-image: url(../../src/beds.svg); }
        /* line 118, sass/_villa.scss */
        .villa__left .villa__specs-facilities-icons.baths {
          background-image: url(../../src/baths.svg); }
    /* line 132, sass/_villa.scss */
    .villa__left .villa__specs-logo {
      width: 47px;
      height: 48px;
      margin: 34px 18px; }
      @media only screen and (max-width: 600px) {
        /* line 132, sass/_villa.scss */
        .villa__left .villa__specs-logo {
          margin: 25px 0 0 0; } }
    /* line 142, sass/_villa.scss */
    .villa__left .villa__specs-description {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-style: italic;
      color: #001871;
      width: 315px;
      height: 54px;
      line-height: 18px;
      position: relative;
      bottom: 103px;
      left: 80px; }
      @media only screen and (max-width: 600px) {
        /* line 142, sass/_villa.scss */
        .villa__left .villa__specs-description {
          width: 290px;
          bottom: 70px;
          left: 65px; } }
  /* line 166, sass/_villa.scss */
  .villa__left .villa__map {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 10px; }
    @media only screen and (max-width: 768px) {
      /* line 166, sass/_villa.scss */
      .villa__left .villa__map {
        display: none; } }
  /* line 187, sass/_villa.scss */
  .villa__right .villa__slideshow img {
    width: 100%;
    margin-top: 110px; }
    @media only screen and (max-width: 600px) {
      /* line 187, sass/_villa.scss */
      .villa__right .villa__slideshow img {
        margin-top: 50px;
        width: 114%; } }

/* line 1, sass/_details.scss */
.details {
  width: 90%;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 52% 1fr;
  grid-template-rows: 6% 9% 14% 22% 30%;
  gap: 0px 10px;
  grid-template-areas: "list widget" "quote widget" "description widget" "video widget" "accordion widget"; }
  @media only screen and (max-width: 768px) {
    /* line 1, sass/_details.scss */
    .details {
      grid-template-columns: 1fr;
      grid-template-rows: max-content max-content max-content max-content 1fr;
      gap: 0px 0px;
      grid-template-areas: "widget" "features" "quote" "description" "video" "list";
      margin-left: 50px; } }
  @media only screen and (max-width: 768px) and (max-width: 600px) {
    /* line 1, sass/_details.scss */
    .details {
      margin-left: 25px; } }
  /* line 39, sass/_details.scss */
  .details__features {
    display: flex;
    justify-content: space-around;
    grid-area: list; }
    @media only screen and (max-width: 600px) {
      /* line 39, sass/_details.scss */
      .details__features {
        grid-area: features;
        display: inline; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      /* line 39, sass/_details.scss */
      .details__features {
        grid-area: widget;
        display: inline; } }
    /* line 62, sass/_details.scss */
    .details__features-list {
      margin-right: 10%;
      list-style: none;
      padding-inline-start: 0px;
      font-family: 'Roboto', sans-serif;
      color: #001871;
      font-size: 16px;
      line-height: 21px; }
      @media only screen and (max-width: 768px) {
        /* line 62, sass/_details.scss */
        .details__features-list {
          margin-top: 0;
          margin-bottom: 0; } }
      /* line 79, sass/_details.scss */
      .details__features-list-1 {
        position: relative; }
        /* line 84, sass/_details.scss */
        .details__features-list-1::before {
          content: "\25A0";
          width: 6px;
          height: 6px;
          color: #21c1ff;
          display: block;
          transform: rotate(45deg);
          margin-right: 1em;
          position: absolute;
          left: -10px;
          top: -1px; }
      /* line 99, sass/_details.scss */
      .details__features-list-2 {
        position: relative; }
        /* line 102, sass/_details.scss */
        .details__features-list-2::before {
          content: "\25A0";
          width: 6px;
          height: 6px;
          color: #21c1ff;
          display: block;
          transform: rotate(45deg);
          margin-right: 1em;
          position: absolute;
          left: -10px;
          top: -1px; }
  /* line 119, sass/_details.scss */
  .details__quote {
    width: 400px;
    height: 170px;
    font-family: 'Roboto', sans-serif;
    color: #001871;
    font-size: 16px;
    line-height: 21px;
    grid-area: quote; }
    @media only screen and (max-width: 600px) {
      /* line 119, sass/_details.scss */
      .details__quote {
        grid-area: quote;
        margin-top: 30px; } }
    /* line 137, sass/_details.scss */
    .details__quote::before {
      content: "\201C";
      font-size: 50px;
      color: #b56f00;
      display: block;
      transform: translate(-23px, 8px); }
    /* line 147, sass/_details.scss */
    .details__quote::after {
      content: "\201D";
      font-size: 50px;
      color: #b56f00;
      display: block;
      transform: translateX(230px); }
    /* line 156, sass/_details.scss */
    .details__quote-caption {
      display: inline; }
  /* line 161, sass/_details.scss */
  .details__description {
    grid-area: description;
    font-family: 'Roboto', sans-serif;
    color: #001871;
    font-size: 16px;
    line-height: 21px; }
    @media only screen and (max-width: 600px) {
      /* line 161, sass/_details.scss */
      .details__description {
        grid-area: description; } }
  /* line 179, sass/_details.scss */
  .details__video {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    grid-area: video; }
    /* line 188, sass/_details.scss */
    .details__video .responsive-iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border: none; }
    @media only screen and (max-width: 600px) {
      /* line 179, sass/_details.scss */
      .details__video {
        grid-area: video; } }
  /* line 207, sass/_details.scss */
  .details__list {
    grid-area: accordion; }
    @media only screen and (max-width: 768px) {
      /* line 207, sass/_details.scss */
      .details__list {
        grid-area: list; } }
    /* line 218, sass/_details.scss */
    .details__list-item {
      list-style: none;
      font-family: 'Montserrat';
      font-size: 20px;
      color: #001871;
      padding-inline-end: 0;
      height: 50px;
      border-bottom: 1px solid #eaeff4;
      margin-top: 10px;
      position: relative; }
      /* line 230, sass/_details.scss */
      .details__list-item-i {
        color: #b56f00;
        font-size: 16px; }
      /* line 235, sass/_details.scss */
      .details__list-item:hover {
        background-color: rgba(234, 229, 229, 0.8);
        cursor: pointer; }
      /* line 243, sass/_details.scss */
      .details__list-item::after {
        display: block;
        width: 0;
        height: 0;
        border: 6px inset;
        content: "";
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: #2196f3 transparent transparent;
        float: right;
        margin: 15px 10px 7px 20px; }
  /* line 260, sass/_details.scss */
  .details__widget {
    margin: 10px 75px; }
    @media only screen and (max-width: 600px) {
      /* line 260, sass/_details.scss */
      .details__widget {
        margin: 0; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      /* line 269, sass/_details.scss */
      .details__widget-box {
        display: none; } }
    /* line 276, sass/_details.scss */
    .details__widget-box-grid {
      display: grid;
      grid-template-columns: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
      gap: 0px 10px; }
      /* line 282, sass/_details.scss */
      .details__widget-box-grid-dates {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #a1abc5; }
      /* line 289, sass/_details.scss */
      .details__widget-box-grid-checkin {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        color: #687499; }
      /* line 295, sass/_details.scss */
      .details__widget-box-grid-group {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        color: #a1abc5; }
      /* line 301, sass/_details.scss */
      .details__widget-box-grid-guests {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
        color: #687499; }
      /* line 307, sass/_details.scss */
      .details__widget-box-grid-bedrooms {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        color: #a1abc5; }
      /* line 313, sass/_details.scss */
      .details__widget-box-grid-rooms {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        color: #687499; }
    /* line 320, sass/_details.scss */
    .details__widget-box-price {
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      color: #001871; }
    /* line 326, sass/_details.scss */
    .details__widget-box-cost {
      font-family: 'Montserrat';
      font-size: 20px;
      color: #001871; }

/* line 1, sass/_widget.scss */
.details__widget {
  max-width: 395px;
  max-height: 50%; }
  @media only screen and (max-width: 600px) {
    /* line 1, sass/_widget.scss */
    .details__widget {
      grid-area: widget; } }
  /* line 12, sass/_widget.scss */
  .details__widget-box {
    border: 1px solid #001871;
    border-radius: 8px;
    padding: 20px 25px; }
    @media only screen and (max-width: 600px) {
      /* line 12, sass/_widget.scss */
      .details__widget-box {
        border: none; } }
    /* line 25, sass/_widget.scss */
    .details__widget-box .widget-box-decoration {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: calc(100% - 50px);
      margin: 0 auto; }
      @media only screen and (max-width: 600px) {
        /* line 25, sass/_widget.scss */
        .details__widget-box .widget-box-decoration {
          display: none; } }
      /* line 39, sass/_widget.scss */
      .details__widget-box .widget-box-decoration .line {
        display: inline-block;
        width: 122px;
        opacity: 0.2;
        border-bottom: solid 1px #001871; }
      /* line 48, sass/_widget.scss */
      .details__widget-box .widget-box-decoration .diamond {
        display: inline-block;
        width: 12px;
        height: 12px;
        background-color: #21c1ff;
        transform: rotate(45deg); }
    @media only screen and (max-width: 600px) {
      /* line 60, sass/_widget.scss */
      .details__widget-box-grid {
        display: none; } }
    /* line 67, sass/_widget.scss */
    .details__widget-box-grid-checkin {
      background-image: url(../src/calendar.svg);
      background-position: 98% 30%;
      background-size: 25px auto;
      background-repeat: no-repeat;
      text-align: center;
      margin: 5px 5px 13px 2px;
      padding: 10px 46px 14px 24px;
      border: solid 1px #ebeef3;
      border-radius: 8px;
      cursor: pointer; }
    /* line 82, sass/_widget.scss */
    .details__widget-box-grid-guests, .details__widget-box-grid-rooms {
      height: 40px;
      padding-top: 10px;
      padding-left: 10px;
      border: solid 1px #ebeef3;
      border-radius: 6px;
      display: relative;
      cursor: pointer; }
    /* line 93, sass/_widget.scss */
    .details__widget-box-grid-guests::after {
      display: block;
      width: 0;
      height: 0;
      border: 6px inset;
      content: "";
      border-bottom-width: 0;
      border-top-style: solid;
      border-color: #2196f3 transparent transparent;
      float: right;
      margin: 8px 10px 7px 20px; }
    /* line 106, sass/_widget.scss */
    .details__widget-box-grid-rooms::after {
      display: block;
      width: 0;
      height: 0;
      border: 6px inset;
      content: "";
      border-bottom-width: 0;
      border-top-style: solid;
      border-color: #2196f3 transparent transparent;
      float: right;
      margin: 8px 10px 7px 20px; }
    /* line 124, sass/_widget.scss */
    .details__widget-box .book button {
      width: 295px;
      height: 50px;
      margin: 4px 22px 16px 1px;
      padding: 12px 20px 11px;
      background-color: #001871;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      text-align: center;
      color: #ffffff;
      outline: none;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      clip-path: polygon(8px 0%, calc(100%  -  8px) 0%, 100% 8px, 100% calc(100%  -  8px), calc(100%  -  8px) 100%, 8px 100%, 0% calc(100%  -  8px), 0% 8px); }
    /* line 143, sass/_widget.scss */
    .details__widget-box .book .heart {
      display: inline-block;
      background-image: url(../src/inactive-heart.svg);
      width: 21px;
      height: 18px;
      object-fit: contain;
      background-repeat: no-repeat;
      margin-left: -5px; }
    /* line 158, sass/_widget.scss */
    .details__widget-box .phone-icon {
      display: inline-block;
      background-image: url(../src/phone.svg);
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      object-fit: contain;
      background-repeat: no-repeat;
      margin-left: -10px;
      margin-bottom: -5px; }
    /* line 170, sass/_widget.scss */
    .details__widget-box .phone-details {
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #001871; }
      /* line 176, sass/_widget.scss */
      .details__widget-box .phone-details span {
        text-transform: uppercase;
        color: #9b9b9b; }
    /* line 183, sass/_widget.scss */
    .details__widget-box .availability {
      width: 347px;
      height: 100px;
      margin: 18px 1px 0 4px;
      padding: 8px 3px 9px 29px;
      background-color: #e5eef4;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #001871;
      text-align: center;
      background-image: url(../src/lock-solid.svg);
      background-position: 0% 53%;
      background-size: 35px;
      background-repeat: no-repeat;
      color: #001871; }
      /* line 201, sass/_widget.scss */
      .details__widget-box .availability a {
        color: #b56f00;
        text-decoration: none; }
  /* line 210, sass/_widget.scss */
  .details__widget .pdf {
    margin-left: 30px;
    display: flex;
    align-items: center; }
    /* line 223, sass/_widget.scss */
    .details__widget .pdf-icon {
      background-image: url(../src/pdf-icon.svg);
      width: 25px;
      height: 30px;
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 20px auto;
      color: #616185;
      margin-right: 13px; }
    /* line 234, sass/_widget.scss */
    .details__widget .pdf-text {
      display: inline;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #001871; }
  /* line 243, sass/_widget.scss */
  .details__widget .share {
    margin-left: 30px;
    display: flex;
    align-items: center; }
    /* line 250, sass/_widget.scss */
    .details__widget .share-icon {
      background-image: url(../src/share-icon.svg);
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      display: inline-block;
      background-size: 20px auto;
      color: #616185;
      margin-right: 13px; }
    /* line 261, sass/_widget.scss */
    .details__widget .share-text {
      display: inline;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #001871; }
