//COLOR VARIABLES 
$dark-royal-blue: #001871;
$bright-light-blue: #21c1ff;
$light-grey: #8c8c8c;
$brown-orange: #b56f00;
$grey-blue: #687499;
$grey-blue-2: #a1abc5;

// RESPONSIVE BREAKPOINTS
$mobile-bp: 600px;

* {
    padding: 0;
    box-sizing: border-box;
    
  }

.container {
    margin-right: 50px;
}